<div class="row">
	<div class="well col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
		<h3 class="text-center">Регистрация сотрудника</h3>
		<hr>
		<div class="form-group">
			<label class="control-label" for="SignInEmail">Почта</label>
			<input type="text" id="SignInEmail" class="form-control" placeholder="Email" autofocus="">
		</div>
		<button type="submit" class="btn btn-raised btn-lg btn-primary btn-block" data-bind="click: register">Зарегистрировать</button>
	</div>
</div>